<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/8cbf7271d634c29c967e8abb/w/69ee037ca6e75b04c62f3a0c/e/52ef5a2e9e2916901e209032 -->
<robot name="alfan_2025">
  <!-- Dummy base link -->
  <link name="base_link"></link>

  <!-- Link body -->
  <link name="body">
    <inertial>
      <origin xyz="-0.0105931 4.03604e-06 0.306267" rpy="0 0 0"/>
      <mass value="0.757108"/>
      <inertia ixx="0.0023612" ixy="1.696e-07" ixz="-0.0001496" iyy="0.0020347" iyz="9.9759e-08" izz="0.001299"/>
    </inertial>
    <!-- Part body -->
    <collision>
      <origin xyz="-0.01425 7.7336e-05 0.272447" rpy="-1.5708 -3.07442e-13 -1.5708"/>
      <geometry>
        <box size="0.124687 0.0458965 0.113"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.00707247 -1.8864e-05 0.343255" rpy="3.07442e-13 -1.17186e-15 3.14159"/>
      <geometry>
        <box size="0.0648476 0.123854 0.097"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.00672007 3.60385e-08 0.297149" rpy="-3.07442e-13 1.17186e-15 -2.77556e-17"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/body.stl"/>
      </geometry>
      <material name="body_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
  </link>
  <!-- Dummy Joint -->
  <joint name="base_link_to_body" type="fixed">
    <parent link="base_link"/>
    <child link="body"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <!-- Link hip_connector -->
  <link name="hip_connector">
    <inertial>
      <origin xyz="-0.00277951 7.80388e-18 -0.00995004" rpy="0 0 0"/>
      <mass value="0.0123973"/>
      <inertia ixx="1.86779e-06" ixy="-3.87301e-38" ixz="3.27394e-09" iyy="6.45145e-06" iyz="-1.52389e-41" izz="5.69507e-06"/>
    </inertial>
    <!-- Part hip_connector -->
    <collision>
      <origin xyz="-0.0028777 -3.54e-05 -0.0175" rpy="0 -0 -4.65462e-33"/>
      <geometry>
        <box size="0.0506482 0.0270708 0.035"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.00275 1.38778e-17 0" rpy="0 -0 -4.65462e-33"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/hip_connector.stl"/>
      </geometry>
      <material name="hip_connector_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_hip_mx28_block -->
  <link name="l_hip_mx28_block">
    <inertial>
      <origin xyz="-0.00016 -0.011201 0.00376704" rpy="0 0 0"/>
      <mass value="0.162255"/>
      <inertia ixx="0.0001198" ixy="5.23097e-07" ixz="1.8713e-07" iyy="0.000107" iyz="-3.18268e-06" izz="4.56093e-05"/>
    </inertial>
    <!-- Part l_hip_mx28_block -->
    <collision>
      <origin xyz="-0.00187095 -0.0135 0.00372199" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <box size="0.0859449 0.0423941 0.051"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="4.28609e-13 -0.033 0.02305" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_hip_mx28_block.stl"/>
      </geometry>
      <material name="l_hip_mx28_block_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_hip_to_knee -->
  <link name="l_hip_to_knee">
    <inertial>
      <origin xyz="-0.0729973 -3e-05 0.020308" rpy="0 0 0"/>
      <mass value="0.095285"/>
      <inertia ixx="2.11931e-05" ixy="5.3641e-08" ixz="-7.07684e-07" iyy="6.64994e-05" iyz="5.8e-10" izz="5.7043e-05"/>
    </inertial>
    <!-- Part l_hip_to_knee -->
    <collision>
      <origin xyz="-0.0518373 -3.65e-05 0.0204614" rpy="-1.5708 -4.02932e-25 1.5708"/>
      <geometry>
        <box size="0.03584 0.0455282 0.108"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.105837 -2.3849e-12 0.019725" rpy="1.5708 4.06981e-33 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_hip_to_knee.stl"/>
      </geometry>
      <material name="l_hip_to_knee_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Link tibia -->
  <link name="tibia">
    <inertial>
      <origin xyz="-0.0358486 0.00695075 0.0205001" rpy="0 0 0"/>
      <mass value="0.0333977"/>
      <inertia ixx="1.79007e-05" ixy="-5.47445e-06" ixz="2.13089e-11" iyy="3.9967e-05" iyz="1.43552e-11" izz="3.1768e-05"/>
    </inertial>
    <!-- Part tibia -->
    <collision>
      <origin xyz="-0.042873 0.00195923 0.0205" rpy="3.14159 2.91878e-33 -1.5708"/>
      <geometry>
        <box size="0.039678 0.105746 0.045"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.01 0.0217982 -0.002" rpy="1.5708 -2.91878e-33 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/tibia.stl"/>
      </geometry>
      <material name="tibia_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_ankle_mx28_block -->
  <link name="l_ankle_mx28_block">
    <inertial>
      <origin xyz="0.011201 -0.019283 0.019884" rpy="0 0 0"/>
      <mass value="0.162255"/>
      <inertia ixx="0.000107" ixy="3.18264e-06" ixz="-5.38414e-07" iyy="4.56127e-05" iyz="5.20429e-07" izz="0.0001198"/>
    </inertial>
    <!-- Part l_ankle_mx28_block -->
    <collision>
      <origin xyz="0.0135 -0.0203893 0.018783" rpy="-1.5708 -9.90737e-33 1.5708"/>
      <geometry>
        <box size="0.0840214 0.0432827 0.051"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.012 1.32359e-15 0.019175" rpy="1.5708 -9.90737e-33 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_ankle_mx28_block.stl"/>
      </geometry>
      <material name="l_ankle_mx28_block_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_foot -->
  <link name="l_foot">
    <inertial>
      <origin xyz="0.010143 -0.0297122 0.026035" rpy="0 0 0"/>
      <mass value="0.063842"/>
      <inertia ixx="6.67616e-05" ixy="1.99819e-06" ixz="5.08308e-07" iyy="9.01027e-05" iyz="-1.50019e-06" izz="3.19302e-05"/>
    </inertial>
    <!-- Part l_foot -->
    <collision>
      <origin xyz="-0.0001003 -0.0100062 0.027" rpy="3.14159 1.74306e-33 8.49968e-30"/>
      <geometry>
        <box size="0.0221666 0.0438909 0.054"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0129662 -0.0322982 0.0252505" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <box size="0.120001 0.0800676 0.003"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.013 -0.0317982 0.02525" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_foot.stl"/>
      </geometry>
      <material name="l_foot_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from l_ankle_mx28_block to l_foot -->
  <joint name="l_ankle_roll" type="revolute">
    <origin xyz="3.07393e-14 -0.02305 0.01995" rpy="-1.5708 -1.5708 0"/>
    <parent link="l_ankle_mx28_block"/>
    <child link="l_foot"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.375246" upper="0.375246"/>
  </joint>
  <!-- Joint from tibia to l_ankle_mx28_block -->
  <joint name="l_ankle_pitch" type="revolute">
    <origin xyz="-0.093 4.21538e-16 1.04083e-17" rpy="2.06189e-29 -1.51461e-28 5.55112e-17"/>
    <parent link="tibia"/>
    <child link="l_ankle_mx28_block"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.22173"/>
  </joint>
  <!-- Joint from l_hip_to_knee to tibia -->
  <joint name="l_knee" type="revolute">
    <origin xyz="-0.0938373 -2.02966e-12 0.000550036" rpy="1.01253e-24 -1.62064e-26 5.55112e-17"/>
    <parent link="l_hip_to_knee"/>
    <child link="tibia"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="0" upper="2.61799"/>
  </joint>
  <!-- Joint from l_hip_mx28_block to l_hip_to_knee -->
  <joint name="l_hip_pitch" type="revolute">
    <origin xyz="-0.01995 -6.07486e-13 0.02305" rpy="1.5708 6.4443e-19 1.5708"/>
    <parent link="l_hip_mx28_block"/>
    <child link="l_hip_to_knee"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-2.35619" upper="0.497419"/>
  </joint>
  <!-- Joint from hip_connector to l_hip_mx28_block -->
  <joint name="l_hip_roll" type="revolute">
    <origin xyz="-0.028 0 -0.0317982" rpy="1.5708 -0 1.5708"/>
    <parent link="hip_connector"/>
    <child link="l_hip_mx28_block"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.375246" upper="0.375246"/>
  </joint>
  <!-- Joint from body to hip_connector -->
  <joint name="l_hip_yaw" type="revolute">
    <origin xyz="0.00275 0.0444 0.252434" rpy="-3.07436e-13 1.17478e-15 -1.33488e-16"/>
    <parent link="body"/>
    <child link="hip_connector"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.523599" upper="0.523599"/>
  </joint>
  <!-- Link hip_connector_2 -->
  <link name="hip_connector_2">
    <inertial>
      <origin xyz="-0.00277951 7.80388e-18 -0.00995004" rpy="0 0 0"/>
      <mass value="0.0123973"/>
      <inertia ixx="1.86779e-06" ixy="-2.13752e-41" ixz="3.27394e-09" iyy="6.45145e-06" iyz="1.52686e-44" izz="5.69507e-06"/>
    </inertial>
    <!-- Part hip_connector_2 -->
    <collision>
      <origin xyz="-0.0028777 -3.54e-05 -0.0175" rpy="0 -0 4.66366e-36"/>
      <geometry>
        <box size="0.0506482 0.0270708 0.035"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.00275 1.38778e-17 0" rpy="0 -0 4.66366e-36"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/hip_connector.stl"/>
      </geometry>
      <material name="hip_connector_2_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_hip_mx28_block -->
  <link name="r_hip_mx28_block">
    <inertial>
      <origin xyz="6.6e-05 -0.011201 0.00376704" rpy="0 0 0"/>
      <mass value="0.162255"/>
      <inertia ixx="0.0001198" ixy="-5.38417e-07" ixz="-5.20431e-07" iyy="0.000107" iyz="-3.18268e-06" izz="4.56127e-05"/>
    </inertial>
    <!-- Part r_hip_mx28_block -->
    <collision>
      <origin xyz="0.00125805 -0.0135 0.00381494" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <box size="0.086166 0.0433161 0.051"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="3.29597e-15 -0.033 0.02305" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_hip_mx28_block.stl"/>
      </geometry>
      <material name="r_hip_mx28_block_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_hip_to_knee -->
  <link name="r_hip_to_knee">
    <inertial>
      <origin xyz="-0.0729973 -3e-05 -0.020307" rpy="0 0 0"/>
      <mass value="0.095285"/>
      <inertia ixx="2.11931e-05" ixy="5.3642e-08" ixz="7.07509e-07" iyy="6.64994e-05" iyz="-5.07e-10" izz="5.7043e-05"/>
    </inertial>
    <!-- Part r_hip_to_knee -->
    <collision>
      <origin xyz="-0.0518373 -2.43e-05 -0.0202786" rpy="-1.5708 -1.55463e-36 1.5708"/>
      <geometry>
        <box size="0.03584 0.0455282 0.108"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.105837 3.20526e-13 -0.019725" rpy="1.5708 -1.55463e-36 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_hip_to_knee.stl"/>
      </geometry>
      <material name="r_hip_to_knee_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Link tibia_2 -->
  <link name="tibia_2">
    <inertial>
      <origin xyz="-0.0358486 0.00695075 -0.0204999" rpy="0 0 0"/>
      <mass value="0.0333977"/>
      <inertia ixx="1.79007e-05" ixy="-5.47445e-06" ixz="2.13089e-11" iyy="3.9967e-05" iyz="1.43552e-11" izz="3.1768e-05"/>
    </inertial>
    <!-- Part tibia_2 -->
    <collision>
      <origin xyz="-0.042873 0.00195923 -0.0205" rpy="3.14159 1.55484e-36 -1.5708"/>
      <geometry>
        <box size="0.039678 0.105746 0.045"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.01 0.0217982 -0.043" rpy="1.5708 -1.55484e-36 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/tibia.stl"/>
      </geometry>
      <material name="tibia_2_material">
        <color rgba="0.286275 0.286275 0.286275 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_ankle_mx28_block -->
  <link name="r_ankle_mx28_block">
    <inertial>
      <origin xyz="0.011201 -0.019283 -0.01979" rpy="0 0 0"/>
      <mass value="0.162255"/>
      <inertia ixx="0.000107" ixy="3.18264e-06" ixz="5.231e-07" iyy="4.56093e-05" iyz="-1.8713e-07" izz="0.0001198"/>
    </inertial>
    <!-- Part r_ankle_mx28_block -->
    <collision>
      <origin xyz="0.0135 -0.0202893 -0.0185994" rpy="-1.5708 -1.55505e-36 1.5708"/>
      <geometry>
        <box size="0.0840214 0.0432827 0.051"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.012 -1.76395e-14 -0.019175" rpy="1.5708 -1.55505e-36 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_ankle_mx28_block.stl"/>
      </geometry>
      <material name="r_ankle_mx28_block_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_foot -->
  <link name="r_foot">
    <inertial>
      <origin xyz="-0.010143 -0.0297122 0.026035" rpy="0 0 0"/>
      <mass value="0.063842"/>
      <inertia ixx="6.67616e-05" ixy="-1.99819e-06" ixz="-5.08308e-07" iyy="9.01027e-05" iyz="-1.50019e-06" izz="3.19302e-05"/>
    </inertial>
    <!-- Part r_foot -->
    <collision>
      <origin xyz="-0.00010026 -0.00985348 0.027" rpy="-3.14159 -1.56879e-36 1.70934e-29"/>
      <geometry>
        <box size="0.0221666 0.0438909 0.054"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0130338 -0.0322982 0.0252494" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <box size="0.120001 0.0800676 0.003"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.013 -0.0337982 0.02525" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_foot.stl"/>
      </geometry>
      <material name="r_foot_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from r_ankle_mx28_block to r_foot -->
  <joint name="r_ankle_roll" type="revolute">
    <origin xyz="6.0292e-14 -0.02305 -0.01995" rpy="-1.5708 -1.5708 0"/>
    <parent link="r_ankle_mx28_block"/>
    <child link="r_foot"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.375246" upper="0.375246"/>
  </joint>
  <!-- Joint from tibia_2 to r_ankle_mx28_block -->
  <joint name="r_ankle_pitch" type="revolute">
    <origin xyz="-0.093 -3.90313e-18 -3.46945e-18" rpy="1.55505e-36 -0 6.88016e-28"/>
    <parent link="tibia_2"/>
    <child link="r_ankle_mx28_block"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.22173"/>
  </joint>
  <!-- Joint from r_hip_to_knee to tibia_2 -->
  <joint name="r_knee" type="revolute">
    <origin xyz="-0.0938373 3.16515e-13 -0.000550036" rpy="1.55484e-36 -0 6.88002e-28"/>
    <parent link="r_hip_to_knee"/>
    <child link="tibia_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="0" upper="2.61799"/>
  </joint>
  <!-- Joint from r_hip_mx28_block to r_hip_to_knee -->
  <joint name="r_hip_pitch" type="revolute">
    <origin xyz="0.01995 1.33227e-15 0.02305" rpy="1.5708 -6.88016e-28 1.5708"/>
    <parent link="r_hip_mx28_block"/>
    <child link="r_hip_to_knee"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-2.35619" upper="0.497419"/>
  </joint>
  <!-- Joint from hip_connector_2 to r_hip_mx28_block -->
  <joint name="r_hip_roll" type="revolute">
    <origin xyz="-0.028 -6.93889e-18 -0.0317982" rpy="1.5708 -0 1.5708"/>
    <parent link="hip_connector_2"/>
    <child link="r_hip_mx28_block"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.375246" upper="0.375246"/>
  </joint>
  <!-- Joint from body to hip_connector_2 -->
  <joint name="r_hip_yaw" type="revolute">
    <origin xyz="0.00275 -0.0444 0.252434" rpy="-3.07442e-13 1.51693e-23 -2.77556e-17"/>
    <parent link="body"/>
    <child link="hip_connector_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.523599" upper="0.523599"/>
  </joint>
  <!-- Link neck -->
  <link name="neck">
    <inertial>
      <origin xyz="0.00136 -8.88178e-18 0.022729" rpy="0 0 0"/>
      <mass value="0.029997"/>
      <inertia ixx="4.71486e-06" ixy="1.22882e-38" ixz="-5.82106e-07" iyy="6.98074e-06" iyz="4.59034e-40" izz="4.23785e-06"/>
    </inertial>
    <!-- Part neck -->
    <collision>
      <origin xyz="-0.0035 1.68e-05 0.0199735" rpy="1.5708 -0 1.5708"/>
      <geometry>
        <box size="0.0240336 0.039947 0.031"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="2.60209e-17 -8.88178e-18 0" rpy="0 -0 -7.88575e-34"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/neck.stl"/>
      </geometry>
      <material name="neck_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
  </link>
  <!-- Link head_to_face -->
  <link name="head_to_face">
    <inertial>
      <origin xyz="-5.9e-05 0.023127 -0.019603" rpy="0 0 0"/>
      <mass value="0.035939"/>
      <inertia ixx="1.1264e-05" ixy="2.909e-09" ixz="2.7952e-08" iyy="9.50806e-06" iyz="-7.907e-09" izz="6.36767e-06"/>
    </inertial>
    <!-- Part head_to_face -->
    <collision>
      <origin xyz="6e-06 0.01326 -0.02" rpy="0 -2.29291e-33 0"/>
      <geometry>
        <box size="0.032099 0.0505201 0.044"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-4.75175e-16 0.01125 0.002" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/head_to_face.stl"/>
      </geometry>
      <material name="head_to_face_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from neck to head_to_face -->
  <joint name="head_roll" type="revolute">
    <origin xyz="0.015 -1.15463e-16 0.03092" rpy="1.5708 -0 1.5708"/>
    <parent link="neck"/>
    <child link="head_to_face"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.785398" upper="0.785398"/>
  </joint>
  <!-- Joint from body to neck -->
  <joint name="head_yaw" type="revolute">
    <origin xyz="-0.011357 3.60385e-08 0.392755" rpy="-3.07442e-13 1.17186e-15 -2.77556e-17"/>
    <parent link="body"/>
    <child link="neck"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.523599" upper="0.523599"/>
  </joint>
  <!-- Link l_shoulder_connector -->
  <link name="l_shoulder_connector">
    <inertial>
      <origin xyz="-0.00492402 0.00182592 0.00882478" rpy="0 0 0"/>
      <mass value="0.0111142"/>
      <inertia ixx="3.10963e-06" ixy="1.67756e-07" ixz="2.99732e-07" iyy="1.7787e-06" iyz="-2.9848e-07" izz="3.55567e-06"/>
    </inertial>
    <!-- Part l_shoulder_connector -->
    <collision>
      <origin xyz="-0.0079632 -5e-05 0.0144362" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <box size="0.0290724 0.0380736 0.036"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.002 0.002" rpy="1.5708 2.35489e-33 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_shoulder_connector.stl"/>
      </geometry>
      <material name="l_shoulder_connector_material">
        <color rgba="0.956863 0.956863 0.964706 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_arm_pitch -->
  <link name="l_arm_pitch">
    <inertial>
      <origin xyz="0.010014 -5.55112e-17 -0.014552" rpy="0 0 0"/>
      <mass value="0.020676"/>
      <inertia ixx="2.07658e-06" ixy="-4.13326e-35" ixz="1.42906e-07" iyy="3.83423e-06" iyz="1.42553e-36" izz="3.37951e-06"/>
    </inertial>
    <!-- Part l_arm_pitch -->
    <collision>
      <origin xyz="0.01 1.705e-05 -0.0143061" rpy="-5.52203e-30 1.5708 0"/>
      <geometry>
        <box size="0.0286122 0.0240341 0.038"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -5.55112e-17 0" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_arm_pitch.stl"/>
      </geometry>
      <material name="l_arm_pitch_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_elbow_block -->
  <link name="l_elbow_block">
    <inertial>
      <origin xyz="-0.007839 -0.000148 0.027949" rpy="0 0 0"/>
      <mass value="0.040594"/>
      <inertia ixx="9.85967e-06" ixy="-1.732e-08" ixz="3.73451e-07" iyy="1.1591e-05" iyz="7.2352e-08" izz="6.06525e-06"/>
    </inertial>
    <!-- Part l_elbow_block -->
    <collision>
      <origin xyz="-0.0105 -0.0011352 0.0260343" rpy="1.5708 -6.7639e-35 1.5708"/>
      <geometry>
        <box size="0.0312596 0.0520685 0.039"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="5.55112e-17 0 0" rpy="1.5708 -6.7639e-35 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_elbow_block.stl"/>
      </geometry>
      <material name="l_elbow_block_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_wrist_roll -->
  <link name="l_wrist_roll">
    <inertial>
      <origin xyz="0.022352 -0.004532 -0.015165" rpy="0 0 0"/>
      <mass value="0.023692"/>
      <inertia ixx="3.64251e-06" ixy="-1.77956e-07" ixz="1.72916e-07" iyy="3.76317e-06" iyz="-3.0555e-08" izz="4.46509e-06"/>
    </inertial>
    <!-- Part l_wrist_roll -->
    <collision>
      <origin xyz="0.0159225 -0.009 -0.0154574" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <box size="0.0340473 0.0499962 0.042"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.026 0.012 -0.01545" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_wrist_roll.stl"/>
      </geometry>
      <material name="l_wrist_roll_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_wrist_pitch -->
  <link name="l_wrist_pitch">
    <inertial>
      <origin xyz="-8.7777e-16 0.000948 0.018986" rpy="0 0 0"/>
      <mass value="0.020676"/>
      <inertia ixx="3.83423e-06" ixy="-2.49645e-36" ixz="3.2453e-35" iyy="3.37951e-06" iyz="-1.42906e-07" izz="2.07658e-06"/>
    </inertial>
    <!-- Part l_wrist_pitch -->
    <collision>
      <origin xyz="1.705e-05 -0.00015245 0.019" rpy="-3.14159 8.86898e-33 1.5708"/>
      <geometry>
        <box size="0.0312241 0.0240341 0.038"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0105 0.0005 0.02" rpy="1.5708 8.86898e-33 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_wrist_pitch.stl"/>
      </geometry>
      <material name="l_wrist_pitch_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link l_palm -->
  <link name="l_palm">
    <inertial>
      <origin xyz="0.028438 -0.00286142 -0.013578" rpy="0 0 0"/>
      <mass value="0.024199"/>
      <inertia ixx="4.40532e-06" ixy="-2.07142e-07" ixz="-1.64935e-07" iyy="1.14535e-05" iyz="1.47738e-07" izz="9.62956e-06"/>
    </inertial>
    <!-- Part l_palm -->
    <collision>
      <origin xyz="0.034 -0.00800591 -0.0152979" rpy="3.14159 1.5708 0"/>
      <geometry>
        <box size="0.0374329 0.0262008 0.086"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.017247 0.0139456 -0.01545" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/l_palm.stl"/>
      </geometry>
      <material name="l_palm_material">
        <color rgba="0.952941 0.815686 0.705882 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from l_wrist_pitch to l_palm -->
  <joint name="l_hand_36" type="revolute">
    <origin xyz="-9.4369e-16 0.0154 0.029" rpy="-1.5708 -1.5708 0"/>
    <parent link="l_wrist_pitch"/>
    <child link="l_palm"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.7017" upper="1.7017"/>
  </joint>
  <!-- Joint from l_wrist_roll to l_wrist_pitch -->
  <joint name="l_hand_35" type="revolute">
    <origin xyz="0.0409 0.003 -0.01545" rpy="1.5708 -6.82466e-16 1.5708"/>
    <parent link="l_wrist_roll"/>
    <child link="l_wrist_pitch"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Joint from l_elbow_block to l_wrist_roll -->
  <joint name="l_hand_34" type="revolute">
    <origin xyz="3.10862e-15 0.0144 0.04" rpy="-1.5708 -1.5708 0"/>
    <parent link="l_elbow_block"/>
    <child link="l_wrist_roll"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="0" upper="2.0944"/>
  </joint>
  <!-- Joint from l_arm_pitch to l_elbow_block -->
  <joint name="l_hand_33" type="revolute">
    <origin xyz="0.029 -5.67324e-14 -0.0145" rpy="1.5708 3.4138e-28 1.5708"/>
    <parent link="l_arm_pitch"/>
    <child link="l_elbow_block"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Joint from l_shoulder_connector to l_arm_pitch -->
  <joint name="l_hand_32" type="revolute">
    <origin xyz="-0.016 0.01595 0.018" rpy="-1.5708 -1.5708 0"/>
    <parent link="l_shoulder_connector"/>
    <child link="l_arm_pitch"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-2.61799" upper="1.5708"/>
  </joint>
  <!-- Joint from body to l_shoulder_connector -->
  <joint name="l_hand_31" type="revolute">
    <origin xyz="0.00996904 0.058983 0.367555" rpy="-1.5708 -1.5708 0"/>
    <parent link="body"/>
    <child link="l_shoulder_connector"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Link r_shoulder_connector -->
  <link name="r_shoulder_connector">
    <inertial>
      <origin xyz="-0.00492402 0.00182592 -0.00882478" rpy="0 0 0"/>
      <mass value="0.0111142"/>
      <inertia ixx="3.10963e-06" ixy="1.67756e-07" ixz="-2.99732e-07" iyy="1.7787e-06" iyz="2.9848e-07" izz="3.55567e-06"/>
    </inertial>
    <!-- Part r_shoulder_connector -->
    <collision>
      <origin xyz="-0.00804575 -5e-05 -0.0145381" rpy="-1.5708 1.5708 0"/>
      <geometry>
        <box size="0.0290761 0.0380915 0.036"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 5.98425e-42 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_shoulder_connector.stl"/>
      </geometry>
      <material name="r_shoulder_connector_material">
        <color rgba="0.956863 0.956863 0.964706 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_arm_pitch -->
  <link name="r_arm_pitch">
    <inertial>
      <origin xyz="-0.010014 0 -0.014552" rpy="0 0 0"/>
      <mass value="0.020676"/>
      <inertia ixx="2.07658e-06" ixy="0" ixz="-1.42906e-07" iyy="3.83423e-06" iyz="0" izz="3.37951e-06"/>
    </inertial>
    <!-- Part r_arm_pitch -->
    <collision>
      <origin xyz="-0.01 1.705e-05 -0.0142939" rpy="-0 -1.5708 0"/>
      <geometry>
        <box size="0.0286122 0.0240341 0.038"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_arm_pitch.stl"/>
      </geometry>
      <material name="r_arm_pitch_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_elbow_block -->
  <link name="r_elbow_block">
    <inertial>
      <origin xyz="-0.007839 0.000295 -0.027949" rpy="0 0 0"/>
      <mass value="0.040594"/>
      <inertia ixx="9.863e-06" ixy="-4.0323e-08" ixz="-3.73451e-07" iyy="1.1591e-05" iyz="1.44112e-07" izz="6.06857e-06"/>
    </inertial>
    <!-- Part r_elbow_block -->
    <collision>
      <origin xyz="-0.0105 -0.0011387 -0.0259942" rpy="1.5708 -0 1.5708"/>
      <geometry>
        <box size="0.0311226 0.0520685 0.039"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.0225 7.36564e-15 -0.015" rpy="1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_elbow_block.stl"/>
      </geometry>
      <material name="r_elbow_block_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_wrist_roll -->
  <link name="r_wrist_roll">
    <inertial>
      <origin xyz="-0.022352 -0.004532 -0.015165" rpy="0 0 0"/>
      <mass value="0.023692"/>
      <inertia ixx="3.64251e-06" ixy="1.77956e-07" ixz="-1.72916e-07" iyy="3.76317e-06" iyz="-3.0555e-08" izz="4.46509e-06"/>
    </inertial>
    <!-- Part r_wrist_roll -->
    <collision>
      <origin xyz="-0.0160028 -0.009 -0.0154237" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <box size="0.0340473 0.0501498 0.042"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.026 0.012 -0.01545" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_wrist_roll.stl"/>
      </geometry>
      <material name="r_wrist_roll_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_wrist_pitch -->
  <link name="r_wrist_pitch">
    <inertial>
      <origin xyz="-1.00614e-15 0.000948 -0.018986" rpy="0 0 0"/>
      <mass value="0.020676"/>
      <inertia ixx="3.83423e-06" ixy="0" ixz="0" iyy="3.37951e-06" iyz="1.42906e-07" izz="2.07658e-06"/>
    </inertial>
    <!-- Part r_wrist_pitch -->
    <collision>
      <origin xyz="1.705e-05 -0.00011205 -0.019" rpy="0 -0 -1.5708"/>
      <geometry>
        <box size="0.0312241 0.0240341 0.038"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.0105 0.0005 -0.02" rpy="1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_wrist_pitch.stl"/>
      </geometry>
      <material name="r_wrist_pitch_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link r_palm -->
  <link name="r_palm">
    <inertial>
      <origin xyz="-0.028438 -0.00286142 -0.013578" rpy="0 0 0"/>
      <mass value="0.024199"/>
      <inertia ixx="4.40532e-06" ixy="2.07142e-07" ixz="1.64933e-07" iyy="1.14534e-05" iyz="1.47738e-07" izz="9.62955e-06"/>
    </inertial>
    <!-- Part r_palm -->
    <collision>
      <origin xyz="-0.034 -0.00805402 -0.0170244" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <box size="0.0370488 0.0262008 0.086"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.017247 -0.0211544 -0.01545" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="file://$(find alfan_robot_description)/meshes/r_palm.stl"/>
      </geometry>
      <material name="r_palm_material">
        <color rgba="0.952941 0.815686 0.705882 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from r_wrist_pitch to r_palm -->
  <joint name="r_hand_26" type="revolute">
    <origin xyz="-7.21645e-16 0.0154 -0.029" rpy="-1.5708 -1.5708 0"/>
    <parent link="r_wrist_pitch"/>
    <child link="r_palm"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.7017" upper="1.7017"/>
  </joint>
  <!-- Joint from r_wrist_roll to r_wrist_pitch -->
  <joint name="r_hand_25" type="revolute">
    <origin xyz="-0.041 0.003 -0.01545" rpy="1.5708 -0 1.5708"/>
    <parent link="r_wrist_roll"/>
    <child link="r_wrist_pitch"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Joint from r_elbow_block to r_wrist_roll -->
  <joint name="r_hand_24" type="revolute">
    <origin xyz="1.2379e-14 0.0144 -0.04" rpy="-1.5708 -1.5708 0"/>
    <parent link="r_elbow_block"/>
    <child link="r_wrist_roll"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-2.0944" upper="0"/>
  </joint>
  <!-- Joint from r_arm_pitch to r_elbow_block -->
  <joint name="r_hand_23" type="revolute">
    <origin xyz="-0.029 -8.38218e-15 -0.0145" rpy="1.5708 -0 1.5708"/>
    <parent link="r_arm_pitch"/>
    <child link="r_elbow_block"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Joint from r_shoulder_connector to r_arm_pitch -->
  <joint name="r_hand_22" type="revolute">
    <origin xyz="-0.016 0.01595 -0.018" rpy="-1.5708 -1.5708 0"/>
    <parent link="r_shoulder_connector"/>
    <child link="r_arm_pitch"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="2.61799"/>
  </joint>
  <!-- Joint from body to r_shoulder_connector -->
  <joint name="r_hand_21" type="revolute">
    <origin xyz="0.00996904 -0.0589829 0.367555" rpy="-1.5708 -1.5708 0"/>
    <parent link="body"/>
    <child link="r_shoulder_connector"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>

  <!-- 6 Axis IMU Sensor Link -->
  <link name="imu_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-09" ixy="0.0" ixz="0.0" iyy="1e-09" iyz="0.0" izz="1e-09"/>
    </inertial>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="body"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 -0.0580833" rpy="0 0 1.5708"/> 
  </joint>

  <gazebo reference="body">
    <sensor name="imu_sensor" type="imu">
      <pose>0.0 0.0 -0.0580833 0 0 1.5708</pose>
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu"/>
  </gazebo>

</robot>
